<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Mail Me</title>
  </head>
  <body>
    <div class="form-container">
      <form action="" class="contact-form">
        <h2>CONTACT</h2>
        <input type="text" id="name" placeholder="Enter your full name" />
        <br />
        <input type="email" id="email" placeholder="Enter your email address" />
        <br />
        <input type="text" id="subject" placeholder="Subject" /> <br />
        <textarea id="message" placeholder="send a message" cols="30" rows="10">
        </textarea>
        <br />
        <input type="submit" class="submit" value="Send Message" />
      </form>
    </div>

    <script src="/js/app.js"></script>
  </body>
</html>
