<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mail Me</title>
  </head>
  <body>
    <div class="form-container">
      <form action="" class="contact-form">
        <h2>CONTACT</h2>
        <input type="text" id="name" placeholder="Full name" />
        <input type="email" id="email" placeholder="Email" />
        <input type="text" id="subject" placeholder="Subject" />
        <textarea id="message" placeholder="message" cols="30" rows="10">
        </textarea>
      </form>
    </div>
  </body>
</html>
