@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  background-color: #f4f4f4;
}

.form-container {
  position: relative;
  left: 20%;
  width: 60%;
  height: 100vh;
  background-color: #ffffff;
}

.contact-form {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 600px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 2rem;
  border: none;
  border-bottom: 1px solid black;
}

input:focus,
textarea:focus {
  outline: none;
}

.submit {
  border: 1px solid black;
  padding: 1rem;
  text-align: center;
  background-color: black;
  cursor: pointer;
  color: #ffffff;
  transition: 0.3s ease;
}

.submit:hover {
  opacity: 0.7;
}
